<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlashLearn"
        tools:targetApi="31">
        <activity
            android:name=".Controllers.DeleteFlashcardSetsActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.ChangeFlashcardSetsNameActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.AddFlashcardsActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.SecurityActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.LearnActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.AllFlashcardSetsActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.NameFlashcardsActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.CreateFlashcardsActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controllers.SupportActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.ShareActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.MainActivity"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controllers.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controllers.SignUpActivity"
            android:exported="false">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>